@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240, 14%, 97%;
    --support: 200, 74%, 83%;
    --foreground: 210, 50%, 2%;
    --heading: 225, 45%, 31%;
    --accent: 165, 35.4%, 38.6%;
    --highlight: 55, 99.1%, 50.4%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
